<div class="field">
     <label for="iddetallesPedido">Detalles Pedido</label>
     <p-inputNumber id="iddetallesPedido" styleClass="w-full" class="w-full" [(ngModel)]="iddetallesPedido"
     [ngClass]="{'ng-invalid': !iddetallesPedidoValido, 'ng-dirty': !iddetallesPedidoValido}">
     </p-inputNumber>
     <small *ngIf="!iddetallesPedidoValido" id="codigo-help" class="p-error block">Ingresar el detalle de pedido</small>

    </div>

    <div class="field">
        <label for="idproducto">Producto</label>
    
          <p-dropdown 
                   id="idproducto"
                   styleClass="w-full" 
                   class="w-full"   
                   [options]="listaProductos" 
                   [(ngModel)]="idproducto" 
                   optionLabel="nombre" 
                   optionValue="idproducto"
                   placeholder="Seleccionar..."
                   [showClear]="true" >
                </p-dropdown>
    
        <!--input id="idproducto" type="text" class="w-full" [(ngModel)]="idproducto"pInputText
        [ngClass]="{'ng-invalid': !idproducto, 'ng-dirty': !idproductoValido}">-->
        <small *ngIf="!idproductoValido" id="codigo-help" class="p-error block"> Ingresar Producto</small>
    </div>

    <div class="field">
        <label for="!cantidad">Cantidad</label>
        <input id="cantidad" type="number" class="w-full" [(ngModel)]="cantidad" pInputText
        [ngClass]="{'ng invalid' : !cantidadValido, 'ng-dirty': !cantidadValido}">
        <small *ngIf="!cantidadValido" id="codigo-help" class="p-error block">Ingresar la cantidad</small>
    </div>

    <div class="field">
        <label for="!precio">Precio</label>
        <p-inputNumber id="precio" class="w-full" styleClass="w-full" mode="currency" currency="PYG" locale="es-PY" [(ngModel)]="precio"
        [ngClass]="{'ng invalid' : !precioValido, 'ng-dirty': !precioValido}" ></p-inputNumber>
        <small *ngIf="!precioValido" id="codigo-help" class="p-error block">Ingresar la precio</small>
    </div>

    <div class="field">
        <label for="!idpedido">Pedido</label>
        <input id="idpedido" type="number" class="w-full" [(ngModel)]="idpedido" pInputText
        [ngClass]="{'ng invalid' : !idpedidoValido, 'ng-dirty': !idpedidoValido}">
        <small *ngIf="!idpedidoValido" id="codigo-help" class="p-error block">Ingresar el pedido</small>
    </div>

    <div class="field">
        <button pButton label="Guardar" icon="pi pi-save" (click)="guardar()" [loading]="guardando"></button>
        <button pButton label="Limpiar" icon="pi pi-trash" class="p-button-secondary" style="margin-left: 10px;" (click)="limpiarFormulario()"></button>
    </div>
    <p-messages [(value)]="mensajes"></p-messages>
