<div class="field">
    <label for="idpedido">idPedido:</label>
    <p-inputNumber id="idpedido" styleClass="w-full" class="w-full" [(ngModel)]="idpedido"
    [ngClass]="{'ng-invalid': !idpedidoValido, 'ng-dirty': !idpedidoValido}">
</p-inputNumber>
    <small *ngIf="!idpedidoValido" id="codigo-help" class="p-error block">Ingresar el Pedido</small>
</div>

<div class="field">
    <label for="idusuario">IdUsuario</label>

      <p-dropdown 
               id="idusuario"
               styleClass="w-full" 
               class="w-full"   
               [options]="listaUsuarios" 
               [(ngModel)]="idusuario" 
               optionLabel="nombre" 
               optionValue="idusuario"
               placeholder="Seleccionar..."
               [showClear]="true" >
            </p-dropdown>

    <!--input id="idusuario" type="text" class="w-full" [(ngModel)]="idusuario"pInputText
    [ngClass]="{'ng-invalid': !idusuario, 'ng-dirty': !idusuarioValido}">-->
    <small *ngIf="!idusuarioValido" id="codigo-help" class="p-error block"> Ingresar Usuario</small>
</div>

<div class="field">
    <label for="fechaPedido">Fecha del Pedido</label>
    <input id="fechaPedido" type="text" class="w-full" styleClass="w-full" [(ngModel)]="fechaPedido" pInputText
    [ngClass]="{'ng-invalid': !fechaPedidoValido, 'ng-dirty': !fechaPedidoValido}" appendTo="body">
    <small *ngIf="!fechaPedidoValido" id="codigo-help" class="p-error block">Fecha del Pedido</small>

</div>
<div class="field">
    <label for="fechaEntrega">Fecha de Entrega</label>
    <input id="fechaEntrega" type="text" class="w-full" styleClass="w-full" [(ngModel)]="fechaEntrega" pInputText
    [ngClass]="{'ng-invalid': !fechaEntregaValido, 'ng-dirty': !fechaEntregaValido}" appendTo="body">
    <small *ngIf="!fechaEntregaValido" id="codigo-help" class="p-error block">Fecha de Entrega</small>
 
</div>

<div class="field">
    <button pButton label="Guardar" icon="pi pi-save" (click)="guardar()" [loading]="guardando"></button>
    <button pButton label="Limpiar" icon="pi pi-trash" class="p-button-secondary" style="margin-left: 10px;" (click)="limpiarFormulario()"></button>
</div>
<p-messages [(value)]="mensajes"></p-messages>

