<div class="fiel" >
    <label for="idpedido">Pedido:</label>
    <p-inputNumber id="idpedido" styleClass="w-full" class="w-full" [(ngModel)]="idpedido"
    [ngClass]="{'ng-invalid': !idpedidoValido, 'ng-dirty': !idpedidoValido}">
</p-inputNumber>
    <small *ngIf="!idpedidoValido" id="codigo-help" class="p-error block">Ingresar el Pedido</small>
</div>

<div class="fiel">
    <label for="idusuario">Usuario</label>
    <input id="idusuario" type="text" class="w-full" [(ngModel)]="idusuario" pInputText
    [ngClass]="{'ng-invalid' : !idusuarioValido, 'ng-dirty': !idusuarioValido}">
    <small *ngIf="!idusuarioValido" id="codigo-help" class="p-error block">Ingresar el Usuario</small>
</div>
<div class="fiel">
    <label for="fechaPedido">Fecha del Pedido</label>
    <input id="fechaPedido" type="text" class="w-full" [(ngModel)]="fechaPedido")] pInputText
    [ngClass]="{'ng-invalid': !fechaPedidoValido, 'ng-dirty': !fechaPedidoValido}">
    <small *ngIf="!fechaPedidoValido" id="codigo-help" class="p-error block">Fecha del Pedido</small>

</div>
<div class="fiel">
    <label for="fechaEntrega">Fecha de Entrega</label>
    <input id="fechaEntrega" type="text" class="w-full" [(ngModel)]="fechaEntrega")] pInputText
    [ngClass]="{'ng-invalid': !fechaEntregaValido, 'ng-dirty': !fechaEntregaValido}">
    <small *ngIf="!fechaEntregaValido" id="codigo-help" class="p-error block">Fecha de Entrega</small>

</div>

<div class="fiel">
    <button pButton label="Guardar" icon="pi pi-save" (click)="guardar()" [loading]="guardando"></button>
    <button pButton label="Limpiar" icon="pi pi-trash" class="p-button-secondary" style="margin-left: 10px;" (click)="limpiarFormulario()"></button>
</div>
<p-messages [(value)]="mensajes"></p-messages>

