<div>
    <label for="idproducto">IdProducto</label>
    <p-inputNumber id="idproducto" type="text" class="w-full" styleClass="w-full" [(ngModel)]="idproducto" 
    [ngClass]="{'ng-invalid' : !idproductoValido, 'ng-dirty': !idproductoValido}">
    </p-inputNumber>
    <small *ngIf="!idproductoValido" id="codigo-help" class="p-error block">Ingresar el idproducto</small>
    </div>

<div class="field">
    <label for="nombrePro">Nombre del producto</label>
    <input id="nombrePro" type="text" class="w-full" styleClass="w-full" [(ngModel)]="nombrePro" pInputText
    [ngClass]="{'ng-invalid' : !nombrePro, 'ng-dirty': !nombrePro}">
    <small *ngIf="!nombreProValido" id="codigo-help" class="p-error block">Nombre de Producto</small>
</div>
<div class="field">
    <label for="precioPro">PrecioPro</label>
    <p-inputNumber id="precioPro" type="text" class="w-full" styleClass="w-full" [(ngModel)]="precioPro"
    [ngClass]="{'ng-invalid': !precioPro, 'ng-dirty': !precioPro}">
    </p-inputNumber>
    <small *ngIf="!precioProValido" id="codigo-help" class="p-error block">Precio de Producto</small>

</div>
<div class="field">
    <label for="cantidadPro">cantidadPro</label>
    <p-inputNumber id="cantidadPro" type="text" class="w-full" styleClass="w-full" [(ngModel)]="cantidadPro"
    [ngClass]="{'ng-invalid': !cantidadPro, 'ng-dirty': !cantidadPro}">
    </p-inputNumber>
    <small *ngIf="!cantidadProValido" id="codigo-help" class="p-error block">Cantidad del producto</small>

</div>
<div class="field">
    <label for="produOferta">Producto Oferta</label>
    <input id="produOferta" type="text" class="w-full" [(ngModel)]="produOferta" pInputText
    [ngClass]="{'ng-invalid': !produOfertaValido, 'ng-dirty': !produOfertaValido} ">
    <small *ngIf="!produOfertaValido" id="codigo-help" class="p-error block">Ingresar Produ. Oferta</small>
</div>
<div class="field">
    <label for="marcaPro">Marca Pro</label>
    <input id="marcaPro" type="text" class="w-full" [(ngModel)]="marcaPro" pInputText
    [ngClass]="{'ng-invalid': !marcaProValido, 'ng-dirty': !marcaProValido} ">
    <small *ngIf="!marcaProValido" id="codigo-help" class="p-error block">Ingresar la Marca</small>
</div>

<div class="field">
    <button pButton label="Guardar" icon="pi pi-save" (click)="guardar()" [loading]="guardando"></button>
    <button pButton label="Limpiar" icon="pi pi-trash" class="p-button-secondary" style="margin-left: 10px;" (click)="limpiarFormulario()"></button>
</div>
<p-messages [(value)]="mensajes"></p-messages>
