<div class="tarjeta">
    <div style="margin-bottom: 15px;">
    <button
    pButton
    label="Agregar"
    icon="pi pi-plus"
    (click)="nuevo">
</button>
    </div>
    <p-messages [(value)]="mensajes"></p-messages>
    <p-table 
        [value]="listaDetallesPedido" 
        [loading]="cargando" 
        [paginator]="true" 
        [rows]="10" 
        [rowsPerPageOptions]="[10, 25, 50]"
        responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id Detalles Pedido</th>
            <th>Id Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Pedido</th>
            <th>Acciones</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detallesPedido>
        <tr>
            <td>{{ detallesPedido.iddetallesPedido }}</td>
            <td>{{ detallesPedido.idproducto }}</td>
            <td>{{ detallesPedido.cantidad }}</td>
            <td>{{ detallesPedido.precio }}</td>
            <td>{{ detallesPedido.idpedido }}</td>

            <td>
                <button pButton type="button" icon="pi pi-pencil" style="margin: 5px;" (click)="editar(detallesPedido)"></button>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger" style="margin: 5px;" (click)="eliminar(detallesPedido)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
<p-dialog
    [header]="tituloDialogo"
    [(visible)]="dialogoVisible"
    [modal]="true">
    <app-formulario-detalles-pedido #formulario (recargardetallesPedido)="cargarDetallesPedido()"></app-formulario-detalles-pedido>
</p-dialog>
    <p-confirmDialog header ="Confirmar" icon="pi pi-exclamation-triangle" ></p-confirmDialog>
