<div class="tarjeta">
    <div style="margin-bottom: 15px;">
        <button pButton label="Producto" icon="pi pi-plus" (click)="nuevo()">
        </button>
    </div>
    <p-messages [(value)]="mensajes"></p-messages>
    <p-table [value]="listaDetallesPedido" [loading]="cargando" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th>Acciones</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detallesPedido>
            <tr>
                <td>{{ detallesPedido.nombreProducto }}</td>
                <td>{{ detallesPedido.cantidad }}</td>
                <td>{{ detallesPedido.precio | number }} Gs.</td>
                <td>{{ detallesPedido.subtotal | number }} Gs.</td>
                <td>
                    <button pButton type="button" icon="pi pi-pencil" style="margin: 5px;"
                        (click)="editar(detallesPedido)"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-danger" style="margin: 5px;"
                        (click)="eliminar(detallesPedido)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="5">Total a pagar: {{ total | number }} Gs.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [header]="tituloDialogo" [(visible)]="dialogoVisible" [modal]="true" appendTo="body">
    <app-formulario-detalles-pedido
        #formulario
        (recargardetallesPedido)="cargarDetallesPedido()"
        (agregarDetalle)="agregarDetallePedido($event)"
        (modificarDetalle)="modificarDetallePedido($event)">
    </app-formulario-detalles-pedido>
</p-dialog>